
<div id="signin_box">
  <%= form_for(:session, url:sessions_path) do |f| %>
    <div class="form-group">
      <%= f.label :邮箱 %>
      <%= f.text_field :email,:class => "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :密码 %>
      <%= f.password_field :password,:class => "form-control" %>	
    </div>

    <div class="form-group">
      <%= f.submit "登录", class: "btn btn-large btn-success",:id => "signin_submit"%>
    </div>
    <div class="clr"></div>
  <% end %>
</div>