<div id="firends_list">
  <div id="user_header">
  	<div id="user_avater">
  	  <%= link_to("#",:target => "_blank") do %>
        <%= image_tag("default_avatar.jpg",class: "img-circle") if !current_user.avatar?%>
        <%= image_tag(current_user.avatar_url(:min_avatar),class: "img-circle") if current_user.avatar?%>
      <% end %>
  	</div>
  	<div id="user_intro">
  	  <ul>
  	  	<li>
          <%= link_to("#",:target => "_blank") do %>
            <span class="glyphicon glyphicon-user">：<%= current_user.name%></span>
          <% end %>
        </li>
  	  	<li id="user_identy">
          <%= link_to("#",:target => "_blank") do %>
            <span class="glyphicon glyphicon-star-empty">：<%= current_user.get_level%></span>
          <% end %>
        </li>
  	  </ul>
  	</div>
  	<div class="clr"></div>
  </div>
  
  <div id="user_body">
    <div class="sidebar">
      <ul class="nav" role="complementary">

        <li class="group_list">
          <h5>所有逗友<span class="caret"></span></h5>
          <ul class="nav">
            <% Firend.select_own(current_user.id).each do |i| %>
              <li class="firend_name_list">
                <%= link_to("#") do %>
                  <%= image_tag("default_avatar.jpg",class: "img-rounded firend_avatar") if !i.user.avatar?%>
                  <%= image_tag(i.user.avatar_url(:min_avatar),class: "img-rounded firend_avatar") if i.user.avatar?%>
                  <%= i.user.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>

        <% Group.select_own(current_user.id).each do |r|%>
          <li class="group_list">
            <h5><%=r.name %><span class="caret"></span></h5>
            <ul class="nav">
            <% Firend.select_own_group(current_user.id,r.id).each do |i| %>
              <li class="firend_name_list">
                <%= link_to("#") do %>
                  <%= image_tag("default_avatar.jpg",class: "img-rounded firend_avatar") if !i.user.avatar?%>
                  <%= image_tag(i.user.avatar_url(:min_avatar),class: "img-rounded firend_avatar") if i.user.avatar?%>
                  <%= i.user.name %>
                <% end %>
              </li>
            <% end %>
            </ul>
          </li>
        <% end %>


      </ul>
    </div>
  </div>

  <div id="user_bottom">
  	<div id="user_function_edit">
  	  <button type="button" class="user_function_button">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
  	</div>
  	<div id="user_function_add">
  	  <button type="button" class="user_function_button" id="user_add_button">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
  	</div>
  </div>
</div>

<%= render 'shared/user_add'%>
