<div id="page_header">
  <div class="content">
  	<div id="logo_image">
  	  <%=image_tag("logo.png") %>
  	</div>
  	<div id="logo_ul">
	  <ul>
      <% if logined? %>
        <li><%= link_to current_user.name,user_path(current_user)%></li>
        <li><%= link_to "退出",session_path(current_user),method: "delete",data:{ confirm: '确认退出吗?' } %></li>
      <% else %>
        <li><%= link_to "登录",new_session_path %></li>
        <li><%= link_to "注册",new_user_path %></li>
      <% end %>
	  	<li><a href="#">关于</a></li>
	  </ul>
  	</div>
  	<div class="clr"></div>
  </div>
</div>